<div class="container">
  <nav class="navbar p-4">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="assets/img/logo_fonavi.jpg" alt="Logo" height="100" class="d-inline-block align-text-top">
      </a>
      <form class="d-flex ms-auto" role="search">
        <div class="col-lg-8 me-2">
          <input class="form-control" type="search" placeholder="Buscar...." aria-label="Search">
        </div>
        <div class="col-lg-4">
          <button class="btn btn-secondary w-100" type="submit">Buscar</button>
        </div>
      </form>
    </div>
  </nav>
  <hr>
</div>

